
{% extends 'base.html' %}

{% block title %}USER{% endblock %}
{% include data_template %}

{% block content %}

<!--
<form method="post" enctype="multipart/form-data">
{% csrf_token %}

  <input type="file" name="myfile1">
  <button type="submit">Загрузка</button>
</form>
-->
<div class="connect">

    <h2 class="reg-user">Смена аватара</h2>
 <form  method="post" enctype="multipart/form-data"
 action="{% url 'user_param' %}">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button class="btn btn-primary" type="submit">Загрузить</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  <p><a href="{% url 'home' %}">Перейти домой</a></p>
</div>

{% endblock %}